.container {
    padding: 2rem 0rem;
}
  
h4 {
    margin: 2rem 0rem 1rem;
}
  
.table-image td, .table-image th {
    vertical-align: middle;
    text-align: center;
}

.navbar{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 21%, rgba(255,106,0,1) 67%, rgba(255,94,0,1) 100%);
    box-shadow: 2px 2px 5px;
    color: orangered;
}

.w-25 img{
    width: 50%;
}